<div class="profile">
    <section class="nameAndPhoto par">
        <img id="profilePicture" src="../../../assets/yo.png" alt="foto de perfil">
        <div class="nameProfile">
            <h2 class="titleH2">Nazarena Grabriela Macre</h2>
            <h3 id="title">Full Stack Developer</h3>
        </div>
    </section>
    <article class="descriptionProfile par">
        <div class="lineDiv up"></div>
        <h2 class="titleH2">Acerca de mí</h2>
        <p>¡Hola! Soy Nazarena, una entusiasta del desarrollo Full Stack. Estoy lista para iniciar mi carrera en tecnología. Mi formación sólida se combina con mi pasión por la música, los viajes y la lectura. Busco oportunidades para aplicar mis habilidades y crecer como profesional en el desarrollo web.</p>
    </article>
    
</div>
<div class="lineDiv"></div>