* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6a6f5;
    font-family: 'Comic Neue', cursive;
    font-family: 'IBM Plex Mono', monospace;
}
body{
    background-image: url('./assets/banner.jpg');
}

.lineDiv{
    border-bottom: 2px solid #eccbf4;
    width: 90%;
    position: relative;
}

@media only screen and (width >=768px){
    .lineDiv{
        width: 93%;
    }
}