@import url(../../../styles.css);

/*---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---*/
/*---  ---  ---  ---  Estilo compartido por todos los Componentes  ---  ---  ---  ---  ---  ---*/
.experience, .education, 
.hardSoftSkill, .proyects{
    margin-top: 1em;
    text-align: center;
    margin-bottom: 30px;
}
.titleH2 {
    margin-bottom: 1em;
}
.italic{
    font-style: italic;
}
.grey{
    color: grey;
    font-size: 0.7rem;
}
.lineDiv{
    margin: auto;
    margin-top: 30px;
}
h3{
    min-width: 200px;
    
}
/*---  ---  ---  ---  ---  ---  FIN COMPARTIDO ---  ---  ---  ---  ---  ---  ---  ---  ---  ---*/
/*---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---*/

/*---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---*/
/*---  ---  ---  --- Estilo compartido por Experiencia y Educacion ---  ---  ---  ---  ---  ---*/
.item{
    padding: 0.5em;
    margin: auto;
}
ul{
    list-style-type: none;
}
.descriptionItem{
    margin: auto;
}


@media only screen and (width >= 375px) {
    .descriptionItem{
        max-width: 425px;
    }
}

/*---  ---  ---  ---  ---  ---  FIN COMPARTIDO ---  ---  ---  ---  ---  ---  ---  ---  ---  ---*/
/*---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---*/

@media only screen and (width >= 600px){
    /*---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---*/
    /*---  ---  ---  Estilo compartido por todos los Componentes  ---  ---  ---  ---  ---*/
    .experience, .education, 
    .hardSoftSkill, .proyects{
        margin-left: 6%;
        margin-right: 6%;
        text-align: left;
    }
    /*---  ---  ---  ---  FIN COMPARTIDO ---  ---  ---  ---  ---  ---  ---  ---  ---  ---*/

    ul{
        list-style-type: circle;
    }
    .item{
        display: flex;
        gap: 30px;
    }

}

@media only screen and (width >= 650px){
    .descriptionItem{
        max-width: 100%;
    }
}

@media only screen and (width >= 900px){
    /*---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---*/
    /*---  ---  ---  Estilo compartido por todos los Componentes  ---  ---  ---  ---  ---*/
    .experience, .education, 
    .hardSoftSkill, .proyects{
        margin-left: 4%;
        margin-right: 4%;
    }
    /*---  ---  ---  ---  FIN COMPARTIDO ---  ---  ---  ---  ---  ---  ---  ---  ---  ---*/

}